
  .sd{
      margin-top: 3vh;
      align-self: start;
      background-image: url(../icons/Sidebar-Slider.png);
      width: 3vw;
      height: 3vw;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
  }
  
  .sd:hover{
      background-image: url(../icons/Sidebar-Slider-1.png);
  }

  .xi{
    margin-bottom: 3vh;
    align-self: start;
    background-image: url(../icons/Xi-Button.png);
    width: 3vw;
    height: 3vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.xi:hover{
    background-image: url(../icons/Xi-Button-hover.png);
}

  .fb{
      
    margin-top: 3vh;
    align-self: start;
    background-image: url(../icons/sc-icons/Facebook.png);
}

.fb:hover{
    width: 4vw;
    height: 4vw;
    background-image: url(../icons/sc-icons/Facebook-1.png);
}

.in{
    margin-top: 3vh;
    align-self: start;
    background-image: url(../icons/sc-icons/Instagram.png);
}

.in:hover{
    width: 4vw;
    height: 4vw;
    background-image: url(../icons/sc-icons/Instagram-1.png);
}
.tw{
    margin-top: 3vh;
    align-self: start;
    background-image: url(../icons/sc-icons/Twitter.png);
}

.tw:hover{
    width: 4vw;
    height: 4vw;
    background-image: url(../icons/sc-icons/Twitter-1.png);
}

.ln{
    width: 3vw;
    height: 3vw;
    margin-top: 1vh;
    align-self: start;
    background-image: url(../icons/sc-icons/LinkedIn.png);
}

.ln:hover{
    width: 5vw;
    height: 5vw;
    background-image: url(../icons/sc-icons/LinkedIn-1.png);
}
.pi{
    
    margin-top: 1vh;
    align-self: start;
    background-image: url(../icons/sc-icons/Pinetrest.png);
}

.pi:hover{
    width: 4vw;
    height: 4vw;
    background-image: url(../icons/sc-icons/Pinetrest-1.png);
}